<ion-header>

  <ion-navbar color="secondary">
    <ion-title>{{ 'SERVICES_TITLE' | translate }}</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="addItem()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-list *ngFor="let category of currentCategories">
    <ion-list-header>{{ category.name }}</ion-list-header>
    <ion-item-sliding *ngFor="let service of category.services">
        <button ion-item (click)="addItem(service)">
          <ion-avatar item-start>
            <img [src]="service.profilePic" />
          </ion-avatar>
          <h2>{{service.name}}</h2>
          <p>{{service.about}}</p>
          <ion-note item-end *ngIf="service.note">{{service.note}}</ion-note>
        </button>
        <ion-item-options>
          <button ion-button color="danger" (click)="deleteItem(service)">
            {{ 'DELETE_BUTTON' | translate }}
          </button>
        </ion-item-options>
      </ion-item-sliding>
  </ion-list>
</ion-content>
